/* 53 */
/* ul li i {
    color: red;
}

p i {
    color: green;
}

p b i {
    color: red;
} */

/* 54 */
/* li b {
    color: red;
} */

/* 55-1 */
 /* .odd {
    color: red;
} 

.eve {
    color: green;
} */

/* 55-2 */
/* .eee {
    color: red;
} */ 

/* 56 */
/* .xxx {
    font-size: 30px;
} */

/* 57 */
.block-red {
    color: red;
}

.block-green {
    color: green;
}

.block-blue {
    color: blue;
}