h1 {
  font-size: 50px;
  text-align: right;
}

h2 {
  width: 300px;
  font-family: Arial;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: normal;
}

table {
  width: 500px;
  height: 300px;
}

th {
  text-align: left;
  font-weight: normal;
}

td {
  text-align: center;
  font-weight: bold;
}

p {
  width: 300px;
  text-align: justify;
  font-family: "Comic Sans MS";
  font-size: 30px;
}