/* 82 */
/* a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: black;
} */




/* 84 */
/* a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
    text-decoration: none;
} */




/* 85 */
/* #test a {
	color: red;
}
#test a:hover {
	text-decoration: none;
} */





/* 86-1 */
a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
}

/* 86-2 */
#block a.zzz {
	color: red;
}
#block a.zzz:hover {
	text-decoration: none;
}

/* 86-3 */
.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
}