/* 82 */
/* a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: black;
} */

/* 84 */
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
    text-decoration: none;
}