/* 90 - 1 */
/* #purple-block {
    width: 200px;
    height: 200px;
    background-color: #7e89eb;
} */

/* 90-2 */
/* #green-block {
    width: 300px;
    height: 200px;
    color: white;
    background-color: #4dee99;
    text-align: center;
    font-size: 30px;
} */



/* 92-1 */
/* #blue-border {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
} */


/* 93-1 */
/* #elem {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: dotted;
    border-color: red;
} */


/* 94-1 */
/* #elem {
    width: 300px;
    height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: orange;
} */


/* 96-1 */
/* #elem {
    width: 300px;
    height: 200px;
    border-width: 10px;
    border-style: double;
    border-color: blue; 
} */


/* 97-1 */
/* #elem {
    width: 300px;
    height: 200px;
    border: 1px solid red;
}*/

/* 97-2 */
/* #elem2 {
    width: 300px;
    height: 200px;
    border: 2px dotted blue;
} */

/* 97-3 */
/* #elem3 {
    width: 300px;
    height: 200px;
    border: 3px dashed green;
} */

/* 97-4 */
/* #elem4 {
    width: 300px;
    height: 200px;
    border: 5px double orange;
}  */

/* 98-1 */
/* #elem1 {
    width: 300px;
    height: 200px;
    border-top: 3px solid blue;
    border-bottom: 3px solid red;
    border-left: 3px solid orange;
    border-right: 3px solid green;
} */

/* 98-2 */
/* #elem2 {
    width: 300px;
    height: 200px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 3px solid red;
    border-right: 3px dotted green;
} */


/* 99-1 */
/* #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 30px;
} */

/* 100-1 */
/* #elem {
    width: 200px;
    height: 200px;
    background-color: #4dee99;
    border-radius: 30px;
} */

/* 101-1 */
/* #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 100px;
} */

/* 103-1 */
/* #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 50px 70px;
} */

/* 104-1 */
/* #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px;
} */

/* 105-1 */
/* #elem {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 20px;
} */

/* 107-1 */
/* #elem {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    border-radius: 100px;
} */

/* 108-1 */
/* body {
    background-image: url('bg.png');
} */

/* 109-1 */
/* body {
    background-repeat: repeat-y;
    background-image: url('bg.png');
} */

/* 109-2 */
/* body {
    background-repeat: repeat-x;
    background-image: url('bg.png');
} */