/* 112-1 */
/* ul {
	list-style-type: square;
} */

/* 113-1 */
/* ul {
	list-style-type: circle;
} */

/* 115-1 */
/* ul {
	list-style-type: none;
} */

/* 119-1 */
/* ol {
	list-style-type: lower-alpha;
} */

/* 120-1 */
/* ol {
	list-style-type: upper-alpha;
} */

/* 121-1 */
/* ol {
	list-style-type: lower-greek;
} */

/* 122-1 */
/* ol {
	list-style-type: decimal-leading-zero;
} */