#parent221-1 {
    width: 600px;
    display: grid;
}

#parent221-2 {
    width: 600px;
    display: grid;
    grid-template-columns: 200px 200px;
    border: 2px solid #696989;
    padding: 10px;
}

#parent221-3 {
    width: 600px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    border: 2px solid #696989;
    padding: 10px;
}

#parent221-4 {
    width: 600px;
    display: grid;
    grid-template-columns: 100px 150px 200px;
    border: 2px solid #696989;
    padding: 10px;
}

#parent221-1 div, #parent221-2 div, #parent221-3 div, #parent221-4 div {
    padding: 10px;
    border: 1px solid #696989;
}




#parent222-1 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #696989;
    padding: 10px;
}

#parent222-2 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #696989;
    padding: 10px;
}

#parent222-3 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    border: 2px solid #696989;
    padding: 10px;
}

#parent222-1 div, #parent222-2 div, #parent222-3 div {
    padding: 10px;
    border: 1px solid #696989;
}





#parent223-1 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    border: 2px solid #696989;
    padding: 10px;
}

#parent223-2 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2.5fr;
    border: 2px solid #696989;
    padding: 10px;
}

#parent223-1 div, #parent223-2 div {
    padding: 10px;
    border: 1px solid #696989;
}





#parent224-1 {
    width: 600px;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    border: 2px solid #696989;
    padding: 10px;
}

#parent224-2 {
    width: 600px;
    display: grid;
    grid-template-columns: 100px 1fr 1.5fr 100px;
    border: 2px solid #696989;
    padding: 10px;
}

#parent224-1 div, #parent224-2 div {
    padding: 10px;
    border: 1px solid #696989;
}