/* 123-1 */
/* #elem1 {
    width: 400px;
    border: 1px dashed blue;
}
#elem2 {
    margin: 50px;
    height: 300px;
    border: 1px solid orange;
} */

/* 123-2 */
/* #elem3 {
    width: 400px;
    border: 1px dashed blue;
}

#elem4 {
    margin: 25px;
    border: 1px dashed green;
}

#elem5 {
    height: 200px;
    margin: 25px;
    border: 1px solid red;
} */

/* 124-1 */
/* #elem1 {
    width: 200px;
    border: 1px solid red;
}
#elem2 {
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    height: 100px;
    border: 1px solid green;
} */

/* 124-2 */
/* #elem3 {
    width: 200px;
    border: 1px solid red;
}

#elem4 {
    margin-top: 50px;
    margin-right: 25px;
    margin-bottom: 50px;
    margin-left: 25px;
    height: 100px;
    border: 1px solid green;
} */

/* 124-3 */
/* #elem5 {
    width: 200px;
    border: 1px solid red;
}
#elem6 {
    margin-top: 20px;
    margin-right: 70px;
    margin-bottom: 20px;
    margin-left: 70px;
    height: 100px;
    border: 1px solid green;
} */

/* 126-1 */
/* #elem1 {
    width: 200px;
    border: 1px solid orange;
}

#elem2 {
    margin: 25px 50px 100px 10px;
    height: 50px;
    border: 1px dashed blue;
} */

/* 127-1 */
/* #elem1 {
    width: 200px;
    border: 1px solid orange;
}

#elem2 {
    margin: 100px 50px;
    height: 50px;
    border: 1px dashed blue;
} */

/* 128-1 */
/* #elem1 {
    width: 200px;
    border: 1px solid orange;
}

#elem2 {
    margin: 100px 50px 30px;
    height: 50px;
    border: 1px dashed blue;
} */

/* 129-1 */
/* #elem {
    padding: 50px;
    width: 200px;
    border: 1px solid red;
    text-align: justify;
} */

/* 130-1 */
/* #elem {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    width: 200px;
    border: 1px solid red;
    text-align: justify;
} */




/* 131-1 */
 /* #elem {
    width: 300px;
    border: 1px solid red;
    text-align: justify;
    padding: 10px 20px 30px 40px;
}

#elem2 {
    width: 300px;
    border: 1px solid red;
    text-align: justify;
    padding: 60px 30px;
}

#elem3 {
    width: 300px;
    border: 1px solid red;
    text-align: justify;
    padding: 10px 20px 40px;
} */




/* 135-1*/
/* #elem1 {
 width: 100px;
 height: 100px;
 background: #f1f1f1;
 margin-bottom: 20px;
}

#elem2 {
 width: 100px;
 height: 100px;
 background: #f1f1f1;
 padding: 25px;
 border: 10px solid green;
 box-sizing: border-box; 
}  */




/* 147-1 */
/* p {
    display: inline;
} */

/* 147-2 */
/* a {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
} */




/* 152-1 */
/* div {
    display: inline-block;
 width: 100px;
 height: 100px;
 border: 1px solid red;
} */